@charset "UTF-8";

body {
	text-align: center;
	background-color: #F6F6F8;
}

h1 {
	color: #2F3B52;
	font-weight: 900;
	margin: 2.5rem 0 1.5rem;
}

input {
	width: 200px;
	height: 100%;
}

input:focus {
	outline: none;
}

button {
	border-style: groove;
}

ul {
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0px;
	text-align: left;
}

li {
	height: 50px;
	line-height: 50px;
	margin: 0.5rem 0;
	padding: 0 0.9rem;
	background: white;
	border-redius: 5px;
}

.shadow {
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.03);
}

.inputBox {
  	background: white;
  	height: 50px;
  	border-radius: 5px;
}

.inputBox input {
	border-style: none;
	font-size: 0.9rem;
}

.addBtn {
	float: right;
	background: linear-gradient(to right, #6478FB, #8763FB);
	width: 3rem;
	height: 100%;
	border-radius: 0 5px 5px 0;
	color: white;
}

.clearAllBtn {
	color: #e20303;
	width: 8.5rem;
	height: 50px;
	background-color: white;
	border-radius: 5px;
	margin: 0 auto;
}